<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link th:href="@{/css/employee.css}" rel="stylesheet"/>
    <link th:href="@{/css/toast.css}" rel="stylesheet">
    <link href="/static/css/employee.css" rel="stylesheet">
    <link href="/static/css/toast.css" rel="stylesheet">
    <script th:src="@{/js/moment.js}"></script>
</head>
<body>
<div class="container">
    <div id="toasts"></div>
    <div class="form-row-btn employee">
        <div class="input-data-back">
            <div class="inner"></div>
            <p href="/employee/new"><img th:src="@{/image/white-page.png}"></p>
        </div>
        <div class="text">
            Employee Details
        </div>
        <div class="input-data-next">
            <a href="/employee/salary"><img th:src="@{/image/next-arrow.png}" alt="Next"></a>
        </div>
    </div>
    <form id="form">
        <div class="form-row">
            <div class="input-data">
                <input type="text" id="name" pattern="[A-Za-z]{}" title="Only Alphabets allowed" required>
                <div class="underline"></div>
                <label>Employee Name <span style="color: red">*</span></label>
            </div>
            <div class="input-data">
                <input type="email" id="employeeMail" value/>
                <div class="underline"></div>
                <label>Employee Mail</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" id="companyEmpId" required>
                <div class="underline"></div>
                <label>Employee ID <span style="color: red">*</span></label>
            </div>
            <div class="input-data">
                <input type="number" min="0" id="contactNo" pattern="[0-9]{10}"
                       title="Only Numbers allowed of length 10">
                <div class="underline"></div>
                <label>Contact No</label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input type="text" id="department" required>
                <div class="underline"></div>
                <label>Department <span style="color: red">*</span></label>
            </div>
            <div class="input-data">
                <input type="text" id="designation" required>
                <div class="underline"></div>
                <label>Designation <span style="color: red">*</span></label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input type="text" id="address">
                <div class="underline"></div>
                <label>Address</label>
            </div>
            <div class="input-data">
                <input type="text" id="panNo" pattern="[A-Z0-9]{10}" onkeyup="checkPanNo()"
                       title="Only UpperCase Alphabets allowed with numbers" required>
                <div class="underline"></div>
                <label>PAN NO <span style="color: red">*</span></label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input type="date" id="doj" required>
                <div class="underline"></div>
                <label>Date Of Join <span style="color: red">*</span></label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea">
                <!--<textarea rows="8" cols="80" required></textarea><br/>
                        <div class="underline"></div>
                         <label>Write your message</label><br/>-->
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="Save & Next" onclick="saveEmployee()"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="input-data" id="reset-btn-id">

            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/toast.js}"></script>
<script th:src="@{/js/employee.js}"></script>
</body>
</html>